/* @font-face {
  font-family: "FFXIV";
  src: url("@/assets/FFXIV_Lodestone_SSF.woff") format("woff2");
}

@font-face {
  font-family: "Noto Sans";
  src: url("@/assets/NotoSansCJKjp-Regular.otf");
} */

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Neo AXIS";
  src: url("@/assets/Neo AXIS.woff2");
}

:root {
  font-family: Poppins, ＭＳ Ｐゴシック, FFXIV;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root,
html,
body {
  background-color: rgb(20, 20, 20);
  margin: 0px !important;
  padding: 0px !important;
}
